<div *ngIf="loading" class="flex justify-center p-80">
  <app-loading></app-loading>
</div>
<!-- component -->
<div *ngIf="!loading" class="bg-black">
  <div class="px-10 py-6 mx-auto">
    <!--author-->
    <div class="max-w-6xl px-10 py-6 mx-auto bg-black">
      <a
        href="#_"
        class="block transition duration-200 ease-out transform hover:scale-110"
      >
        <img
          class="object-cover w-full shadow-sm h-full"
          [src]="srcImagens + movieDetail?.backdrop_path"
        />
      </a>

      <!--post categories-->
      <div class="flex items-center justify-start mt-4 mb-4">
        <ng-container *ngFor="let item of movieDetail?.genres">
          <a
            href="#"
            class="
              px-2
              py-1
              font-bold
              bg-red-400
              text-black
              rounded-lg
              hover:bg-gray-500
              mr-4
            "
            >{{ item.name }}</a
          >
        </ng-container>
      </div>
      <div class="mt-2">
        <a
          href="#"
          class="
            sm:text-3xl
            md:text-3xl
            lg:text-3xl
            xl:text-4xl
            font-bold
            text-white
            hover:underline
          "
          >{{ movieDetail?.title }}</a
        >


      </div>

      <!--end post header-->
      <!--post content-->
      <div
        class="
          max-w-4xl

          mx-auto
          text-2xl text-gray-700
          mt-4
          rounded
          bg-gray-100
        "
      >
        <!--content body-->
        <div>
          <h1 class="font-bold text-gray-700 hover:underline ml-5 pt-5">Resumo:</h1>
          <p class="mt-2 p-8">
           {{movieDetail?.overview}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
